# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Node.js and React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
.DS_Store

# Build directories
build/
dist/
out/
coverage/
logs
*.log
*.tsbuildinfo

# React / Next.js
.next/
.cache/
public/
.vscode/

# TypeScript
*.tsbuildinfo

# Distribution / packaging
.Python
develop-eggs/
filetransfer/static/
downloads/
myvenv/Scripts
filetransfer/temp_thumbnails/
nginx-rtmp-win32-1.2.1/conf/dynamic_drives.conf
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# General
.DS_Store
Thumbs.db

# Storybook
storybook-static/

# Mac-specific
*.DS_Store

# ESLint and Prettier
.eslintcache
.prettierignore
.prettiercache
