asgiref==3.8.1
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
Django==5.0.7
idna==3.8
imageio==2.35.1
imageio-ffmpeg==0.5.1
inflate64==1.0.0
moviepy==1.0.3
multivolumefile==0.2.3
numpy==2.1.0
pillow==10.4.0
proglog==0.1.10
psutil==6.0.0
py7zr==0.22.0
pybcj==1.0.2
pycryptodomex==3.20.0
pyppmd==1.1.0
pyzstd==0.16.1
requests==2.32.3
sqlparse==0.5.1
texttable==1.7.0
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
waitress==3.0.0
