/* Drives Container */
.drives {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  min-height: 100vh; /* Full viewport height */
  background-color: #1d1d1d;
}

/* Body styling */
.drives .body {
  text-align: center; /* Center content inside */
}

/* Header */
.drives h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
}

/* Unordered list styling */
.drives ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Reset margins */
}

/* List items */
.drives li {
  margin: 15px 0; /* Add spacing between items */
}

/* Links */
.drives a {
  font-size: 2em;
  padding: 15px 25px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  display: inline-block;
  text-align: center;
}

/* Hover and focus states */
.drives a:hover,
.drives a:focus {
  background-color: #777;
  transform: scale(1.05);
}

.container {
  height: 100%;
  overflow-y: true;
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .drives a {
    font-size: 1.5em; /* Adjust font size for smaller screens */
    padding: 10px 20px;
  }
}

.container .adminConsoleTable th {
  background-color: #f4f4f9;
  font-weight: 600;
}
  .container .adminConsoleTable th,
  td {
    padding: 15px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
  }

  
  .container .adminConsoleTable tr:hover {
    background-color: #881919;
  }
  
  .statusButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .statusPrivate {
    background-color: grey;
    color: white;
  }
  
  .statusPublic {
    background-color: green;
    color: white;
  }
  
  .uploadLink {
    display: inline-block;
    margin-top: 20px;
    background-color: #333;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
  }
  
  .uploadLink:hover {
    background-color: #555;
  }
  
  @media (max-width: 768px) {
    .topBar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .topBar h1 {
      font-size: 1.5rem;
    }
  
    .container .adminConsoleTable {
      font-size: 0.9rem;
    }
  
    .container .adminConsoleTable th,
    td {
      padding: 12px;
    }
  
    .uploadLink {
      font-size: 0.9rem;
      padding: 10px 20px;
    }
  }
  
  @media (max-width: 480px) {
    .topBar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .topBar h1 {
      font-size: 1.4rem;
    }
  
    .container .adminConsoleTable,
    th,
    td {
      font-size: 0.85rem;
      padding: 10px;
    }
  
    .uploadLink {
      font-size: 0.85rem;
      padding: 8px 16px;
    }
  }
  